<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotifree - Music Player</title>

    <!-- Font Configuration -->
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/library.css" />
    <link rel="stylesheet" href="/css/setting.css" />
    <link rel="stylesheet" href="/css/chatbot.css" />
    <link rel="stylesheet" href="/css/music-detail.css" />
</head>
<body>
    <nav>
        <button onclick="loadPage('home')">Homepage</button>
        <button onclick="loadPage('playlist')">Playlist</button>
        <button onclick="loadPage('settings')">Setting</button>
        <button onclick="loadPage('library')">library</button>
        <button onclick="loadPage('album')">album</button>
        <button onclick="loadPage('music_detail')">Music Details</button>
        <button id="btn-mini" title="Picture-in-Picture">⇲ Mini</button>
    </nav>

    <div id="player-bar">
        <audio id="music-player"></audio>
    </div>

    <main id="content-container"></main>


    <!-- Chatbot -->
    <div id="chatbot-container">
        <div id="chatbot-header">
            🎧 Spotifree Assistant
        </div>
        <div id="chatlog"></div>
        <div id="chat-input-area">
            <input type="text" id="chat-input" placeholder="Type your message..." />
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
    <script src="/js/spotify-api.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/music-detail.js"></script>
    <script src="/js/library.js"></script>
    <script src="/js/navigation.js"></script>
    <script src="/js/player.js"></script>
    <script src="/js/chatbot.js"></script>
    <script src="/js/interop.js"></script>
    <script src="/js/storage.js"></script>
    <script src="/js/settings.js"></script>
</body>
</html>