<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/library.css" />
</head>
<body>
    <nav>
        <button onclick="loadPage('home')">Homepage</button>
        <button onclick="loadPage('playlist')">Playlist</button>
        <button onclick="loadPage('settings')">Setting</button>
        <button onclick="loadPage('library')">library</button>
        <button onclick="loadPage('album')">album</button>
    </nav>

    <div id="player-bar">
        <audio id="music-player"></audio>
    </div>

    <main id="content-container"></main>

    <script src="/js/library.js"></script>
    <script src="/js/navigation.js"></script>
    <script src="/js/player.js"></script>
    <script src="/js/interop.js"></script>
    <script src="/js/storage.js"></script>
    <script src="/js/settings.js"></script>
</body>
</html>