<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/library.css" />
    <link rel="stylesheet" href="/css/chatbot.css" />
</head>
<body>
    <nav>
        <button onclick="loadPage('home')">Homepage</button>
        <button onclick="loadPage('playlist')">Playlist</button>
        <button onclick="loadPage('settings')">Setting</button>
        <button onclick="loadPage('library')">library</button>
    </nav>

    <div id="player-bar">
        <audio id="music-player"></audio>
    </div>

    <main id="content-container"></main>

    <script src="/js/navigation.js"></script>
    <script src="/js/player.js"></script>
    <script src="/js/chatbot.js"></script>

    <!-- Chatbot -->
    <div id="chatbot-container">
        <div id="chatbot-header">
            🎧 Spotifree Assistant
        </div>
        <div id="chatlog"></div>
        <div id="chat-input-area">
            <input type="text" id="chat-input" placeholder="Nhập tin nhắn..." />
            <button onclick="sendMessage()">Gửi</button>
        </div>
    </div>


</body>
</html>